<div class="container" id="card-container">
  <div class="row">
    <div class="col-sm-12 mt-5">
      <div id="card-currency" class="card shadow">
        <h1 class="text-center">Currency Converter</h1>
        <h5 class="text-center" *ngIf="currencyData"> Convert {{ currencyData.base_currency_name}}s to
          {{currencyData.rates[currencyTo].currency_name }}s</h5>
        <div class="card-body">
          <form class="row g-3" [formGroup]="excangeForm" (ngSubmit)="onSubmit()">
            <div class="col-sm-4 formgroup">
              <label for="card-amount"><b>Amount</b></label>
              <input type="number" class="form-control" id="card-amount" placeholder="Amount" formControlName="amount">
              <span class="error-text"
                *ngIf="!excangeForm.get('amount')?.valid && excangeForm.get('amount')?.touched">*Please enter amount for
                exchange</span>
            </div>
            <div class="col-sm-4 formgroup">
              <label for="card-from"><b>From</b></label>
              <select class="form-select" id="card-from" aria-label="From select example"
                formControlName="currencyFrom">
                <option placeholder="Choose.." [selected]="currency.key === currencyFrom"
                  *ngFor="let currency of currencies | keyvalue" class="form-control">{{currency.key}} -
                  {{currency.value}}</option>
              </select>
            </div>
            <div class="col-sm-4 formgroup">
              <label for="card-to"><b>To</b></label>
              <select class="form-select" id="card-to" aria-label="To select example" formControlName="currencyTo">
                <option [selected]="currency.key === currencyTo" *ngFor="let currency of currencies | keyvalue"
                  class="form-control">{{currency.key}} - {{currency.value}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary mb-3" id="card-button" (click)="onSubmit()"
                [disabled]="!excangeForm.get('amount')?.valid">Convert</button>
            </div>
            <div id="card-result">
              <p *ngIf="currencyData"><b>{{ amount }} {{ currencyData.base_currency_name}} = </b></p>
              <h3 *ngIf="currencyData">{{ currencyData.rates[currencyTo].rate_for_amount}}
                {{currencyData.rates[currencyTo].currency_name }}s</h3>
              <h3 *ngIf="!excangeForm.get('amount')">Please enter amount</h3>
            </div>
            <div id="last-update" class="col-sm-12 text-end">
              <p *ngIf="currencyData">*Last Updated: {{ currencyData.updated_date }}</p>
            </div>
          </form>
        </div>
      </div>
      <div class="licence-container text-end">
        <h5 class="licence-title">Design by: <span>Marko Obradović</span></h5>
      </div>
    </div>
  </div>
</div>


